<div class="page-header">
  <h3>Cuisine #<%= @cuisine.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @cuisine.name %></dd>

    </dl>

      <dt>Dishes</dt>
      <dd>
      <ul class="list-group">
        <% Dish.where(:cuisine_id => @cuisine.id).each do |dishes| %>
        <li class="list-group-item">
          <%= dishes.name %>
        </li>
        <% end %>
      </ul>
      </dd>




    <div class="btn-group btn-group-justified">
      <a href="/cuisines" class="btn btn-primary">
        Back
      </a>
      <a href="/cuisines/<%= @cuisine.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_cuisine/<%= @cuisine.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
